@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #1e1e1e;
    --lightBlack: #3c3c3c;
}

.grid-container{
    display: grid;
    /* grid-template-areas: 
    "navbar navbar navbar navbar navbar"
    "aside header-section header-section header-section header-section"
    "aside games-section games-section games-section games-section"
    "aside games-section games-section games-section games-section"; */

    grid-template-areas: 
    "navbar navbar"
    "aside header-section"
    "aside games-section"
    "aside games-section";

    grid-template-columns: auto minmax(0, 1fr);
}

.navbar{
    background-color: var(--black);
    grid-area: navbar;
}

.aside {
    background-color: var(--black);
    grid-area: aside;
    /* width: 100px; */
    
}

.header-section {
    background-color: green;
    grid-area: header-section;
}

.games-section{
    background-color: var(--black);
    grid-area: games-section;
}

/* Dropdown menu */
.szh-menu {
    background-color: var(--lightBlack)
  }

  .szh-menu__item:hover{
    background-color: #4d4d4d;

  }