@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #1e1e1e;
    --lightBlack: #3c3c3c;
}

/*For reload purpouses*/
html {
    background-color: var(--black);
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "navbar navbar"
    "aside header-section"
    "aside games-section"
    "aside games-section";
    
    grid-template-columns: auto minmax(0, 1fr);
}

.navbar{
    background-color: var(--black);
    grid-area: navbar;
}

.aside {
    background-color: var(--black);
    grid-area: aside;  
}

.header-section {
    background-color: var(--black);
    grid-area: header-section;
}

.games-section{
    background-color: var(--black);
    grid-area: games-section;
}

/* Dropdown menu */
.szh-menu {
    background-color: var(--lightBlack)
  }

  .szh-menu__item:hover{
    background-color: #4d4d4d;
  }